:host {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
}

.top-bar-container {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.top-bar {
  margin: 0 5vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

app-map {
  margin-top: 2em;
}
