<div *ngIf="invitations && !working">
  <ul *ngFor="let i of invitations">
    <li *ngIf="type === 'incoming'">
      Invito ricevuto da <span class="player-name">{{i.sender}}</span>:
      <span *ngIf="i.accepted === null">
        <button type="button" (click)="accept(i)">Accetta</button>
        <button type="button" (click)="decline(i)">Rifiuta</button>
      </span>
      <span [hidden]="i.accepted !== true" class="status accepted">[Accettato]</span>
      <span [hidden]="i.accepted !== false" class="status declined">[Rifiutato]</span>
    </li>
    <li *ngIf="type === 'outgoing'">
      Invito inviato a <span class="player-name">{{i.receiver}}</span>:
      <span [hidden]="i.accepted !== true" class="status accepted">[Accettato]</span>
      <span [hidden]="i.accepted !== false" class="status declined">[Rifiutato]</span>
      <span [hidden]="i.accepted !== null" class="status no-reply">[Nessuna risposta]</span>
    </li>
  </ul>
</div>

<p [hidden]="!working">Acquisizione degli inviti in corso...</p>
<p [hidden]="invitations && invitations.length > 0" class="no-items">Nessun invito</p>

<p class="error" [hidden]="working || !errorOccurred">Errore</p>
