<!--suppress HtmlFormInputWithoutLabel -->
<h3>Fase di rinforzo</h3>

<a [href]="'match/' + matchId">Torna alla partita</a>

<p *ngIf="working">Caricamento in corso...</p>

<p *ngIf="!working">Disponi le armate sui tuoi territori.</p>

<p *ngIf="!working">
  Armate rimanenti: <code><b>{{remainingArmies}}</b>/{{state.unplacedArmies}}</code>
  <button type="button"
          (click)="onDone()"
          [disabled]="remainingArmies > 0 || state.unplacedArmies === 0">
    Fatto
  </button>
</p>

<p class="error">{{error}}</p>

<form *ngIf="!working && this.selectedTerritoryName">

  <input type="number"
         name="armies"
         (input)="onArmyNumberChange()"
         (keydown)="$event.preventDefault()"
         [(ngModel)]="selectedOwnershipUpdated.armies"
         [min]="selectedOwnershipOriginal.armies || 1"
         [max]="selectedOwnershipUpdated.armies + remainingArmies"
         [disabled]="!this.selectedTerritoryName">

  <span class="territory-name">{{selectedTerritoryName}}</span>
</form>

<app-map [conf]="mapConf"
         [selectable]="true"
         (onTerritorySelected)="onTerritorySelected($event)"
         (onTerritoryDeselected)="onTerritoryDeselected()"
         *ngIf="!working">
</app-map>
