<!--suppress HtmlFormInputWithoutLabel -->
<h3>Rinforzo</h3>
<p>
  Disponi le armate sui tuoi territori. Armate rimanenti: <b>{{getRemainingArmies()}}</b>
</p>

<p class="error">{{error}}</p>

<p *ngIf="selectedOwnership">
  <input type="number" [(ngModel)]="selectedOwnership.armies" #armies
    min="1" [max]="armies.valueAsNumber + getRemainingArmies()" [disabled]="working">

  <span class="territory-name">{{getSelectedTerritory()}}</span>

  &nbsp;

  <button type="button" (click)="onSubmitArmies()"
          [disabled]="working || getRemainingArmies() > 0">
    Fatto
  </button>
</p>

<app-map-legend
  [players]="[{name: 'Tu', color: playerColor}, {name: 'Altri giocatori', color: 'Gray'}]">
</app-map-legend>

<app-map [conf]="working ? null : mapConf" (territoryClick)="onTerritoryClick($event)"></app-map>
