<!--suppress HtmlFormInputWithoutLabel -->

<div class="header">
  <h3>Fase di rinforzo</h3>
  <button type="button"
          (click)="onDone()"
          [disabled]="remainingArmies > 0 || state.unplacedArmies === 0">
    Fatto
  </button>
  <a [href]="'match/' + matchId">< Partita</a>
</div>

<p class="error">{{error}}</p>

<p *ngIf="working">Caricamento in corso...</p>

<div *ngIf="!working" class="form">
  <small>Missione: {{mission}}</small>
  <p>Armate rimanenti: <code><b>{{remainingArmies}}</b>/{{state.unplacedArmies}}</code></p>

  <form *ngIf="this.selectedTerritoryName">

    <input type="number"
           name="armies"
           (input)="onArmyNumberChange()"
           (keydown)="$event.preventDefault()"
           [(ngModel)]="selectedOwnershipUpdated.armies"
           [min]="selectedOwnershipOriginal.armies || 1"
           [max]="selectedOwnershipUpdated.armies + remainingArmies"
           [disabled]="!this.selectedTerritoryName">

    <span class="territory-name">{{selectedTerritoryName}}</span>
  </form>
</div>

<app-map [conf]="mapConf"
         [selectable]="true"
         (onTerritorySelected)="onTerritorySelected($event)"
         (onTerritoryDeselected)="onTerritoryDeselected()"
         *ngIf="!working">
</app-map>
