:host {
  display: block;
  margin: 0 auto;
  max-width: 50em;
}

.error {
  color: red;
  font-family: sans-serif;
}

.territory-name {
  margin-left: 1em;
  font-family: sans-serif;
  font-weight: bold;
}

form *:not(:first-child) {
  margin-left: 1em;
}

button {
  margin-left: 1em;
}
