:host {
  display: block;
  margin: 0 auto;
  max-width: 50em;
}

.error {
  color: red;
  font-family: sans-serif;
}

.territory-name {
  margin-left: 1em;
  font-family: sans-serif;
  font-weight: bold;
}

.form {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

form *:not(:first-child) {
  margin-left: 1em;
}

button {
  margin-left: 1em;
}

h3 {
  margin: .5em 0;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header button {
  padding: .3em 1.3em;
}
