svg {
  width: 100%;
  height: auto;
}

.territory {
  stroke: black;
  stroke-width: 1px;
}

.selected {
  stroke-width: 3px;
}

.clickable {
  cursor: pointer;
}

text {
  pointer-events: none;
  user-select: none;
  font-family: monospace;
  font-weight: bold;
}

.Red {
  fill: #8b0000;
}

.Red.clickable:hover, .Red.selected {
  fill: #c50000;
}

.Blue {
  fill: #007878;
}

.Blue.clickable:hover, .Blue.selected {
  fill: #00adad;
}

.Purple {
  fill: #59007f;
}

.Purple.clickable:hover, .Purple.selected {
  fill: #9a00db;
}

.Green {
  fill: #006400;
}

.Green.clickable:hover, .Green.selected {
  fill: #00b400;
}

.Brown {
  fill: #8b4513;
}

.Brown.clickable:hover, .Brown.selected {
  fill: #cb641b;
}

.Pink {
  fill: #72304d;
}

.Pink.clickable:hover, .Pink.selected {
  fill: #d74887;
}

.Gray {
  fill: dimgray;
}
