<h2>Lobby <button type="button" (click)="update()" [disabled]="working">Aggiorna dati</button></h2>
<p>
  Giocatore: <span class="player-name">{{myName}}</span>
  (<a routerLink="/auth">Autenticazione</a>)
</p>

<p>
  <small class="red">{{updateError}}</small>
</p>

<h3>Partite in corso</h3>

<p>
  <small [hidden]="matches?.length > 0">[Nessuna partita in corso]</small>
</p>

<div class="deck">
  <a class="nounderline" *ngFor="let match of matches" [routerLink]="'/match/' + match.id">
    <div class="match-card">
      <p>Partita #{{match.id}}</p>
      <div class="deck">
        <span class="accepted" *ngFor="let player of match.players">{{player}}</span>
      </div>
    </div>
  </a>
</div>

<hr>

<h3>Nuova partita</h3>

<div class="deck">
  <div class="accepted">
    <span>{{myName}}</span>
    <small>Sei tu</small>
  </div>
  <div *ngFor="let invitation of outgoingInvitations"
        [className]="getInvitationClassName(invitation)">
    <span>{{invitation.receiver}}</span>
    <small>{{getOutgoingInvitationStatus(invitation)}}</small>
  </div>
</div>

<form (ngSubmit)="onInvitePlayer()">
  <p>
    <!--suppress HtmlFormInputWithoutLabel -->
    <input type="text" name="invitationReceiverName" [(ngModel)]="invitationReceiverName"
      required [disabled]="working" />
    &nbsp;
    <input type="submit" value="Invita" [disabled]="working" />
  </p>
  <small class="red">{{sendInvitationError}}</small>
</form>

<p>
  <button type="button" [disabled]="!canCreateMatch || working" (click)="onCreateMatch()">
    Crea partita
  </button>
  <small [hidden]="canCreateMatch">
    Necessari almeno 3 giocatori
  </small>
</p>

<h3>Inviti ricevuti</h3>

<small class="red">{{acceptDeclineError}}</small>

<small [hidden]="incomingInvitations?.length > 0">
  [Nessun invito ricevuto]
</small>

<div class="deck">
  <div *ngFor="let invitation of incomingInvitations" [className]="getInvitationClassName(invitation)">
    <span>{{invitation.sender}}</span>
    <small>{{getIncomingInvitationsStatus(invitation)}}</small>
    <span *ngIf="invitation.accepted === null">
      <button type="button" (click)="onAccept(invitation)" [disabled]="working">
        Accetta
      </button>
      <button type="button" (click)="onDecline(invitation)" [disabled]="working">
        Rifiuta
      </button>
    </span>
  </div>
</div>
